@tailwind components;

@layer components {

    .alert-wrapper{
        @apply flex flex-col gap-4 justify-start items-center fixed z-[99999] max-w-xs;
    }
    .alert-wrapper.alert-y-top {
        @apply top-8;
    }
    .alert-wrapper.alert-y-top .alert {
        animation: fadeInDown;
        animation-duration: 500ms;
    }
    .alert-wrapper.alert-y-center{
        top: 50%;
        transform: translateY(-50%);
    }

    .alert-wrapper.alert-y-bottom{
        @apply bottom-8;
    }
    .alert-wrapper.alert-y-bottom .alert {
        animation: fadeInUp;
        animation-duration: 500ms;
    }

    .alert-wrapper.alert-x-left{
        @apply left-8;
    }
    .alert-wrapper.alert-y-left .alert {
        animation: fadeInLeft;
        animation-duration: 500ms;
    }

    .alert-wrapper.alert-x-center{
        left: 50%;
        transform: translateX(-50%);
    }

    .alert-wrapper.alert-x-right{
        @apply right-8;
    }
    .alert-wrapper.alert-y-right .alert {
        animation: fadeInRight;
        animation-duration: 500ms;
    }
    

}
