@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  box-sizing: border-box;
}


/* ---------------- TYPOGRAPHY --------------------- */


/** MZ-Theme */


.btn-love {
}

.btn-love.active {
  color: var(--danger);
}

.btn-love .animated {
}

.btn-love:hover i,
.btn-order:hover i,
.btn-post:hover i,
.btn-share:hover i,
.btn-send:hover i,
.btn-interested:hover i,
.btn-subscribe:hover i,
.btn-comment:hover i {
  animation-name: heartBeat;
  animation-duration: 1s;
}

.btn.btn-black {
  background-color: var(--black);
  border-color: var(--black);
  color: #fff;
}

.btn.btn-black:hover,
.btn.btn-black:active,
.btn.btn-black:focus,
.btn.btn-black.active {
  background-color: var(--black-hover);
}

.btn.btn-black-opacity {
  background-color: var(--black) 5;
  border: none;
}

.btn-interested.active,
.btn-subscribe.active {
  color: #007bff;
}

.btn-upload-image {
  color: #fff;
}

.btn.btn-semi-transparent {
  opacity: 0.8;
}

.btn.btn-transparent {
  background-color: transparent;
  border: 1px solid transparent;
}

.btn.btn-tiles {
  width: 30px;
  height: 30px;
  margin-top: 0;
  border: 1px solid var(--black-hover);
  padding: 0px;
}

.btn.btn-tiles.btn-tiles-xs {
  width: 15px;
  height: 15px;
}


/** Breadcrumb */

/** Tags */
.control-tag {
  font-size: 14px;
  padding: 5px 15px;
  padding-left: 10px;
  margin: 5px;
  background-color: var(--default);
  border: 1px solid var(--default);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  white-space: nowrap;
  position: relative;
  color: var(--black);
}

.control-tag:hover {
  opacity: 0.8;
  transition: var(--animation-fast);
}

/** Utils */
.full-width {
  width: 100% !important;
}


.badge {
  color: #ffffff;
  font-size: 10px;
  padding: 4px 8px;
  width: fit-content;
  border-radius: 9999px;
}
