@tailwind components;

@layer components {
    .sidebar {
        @apply flex flex-col gap-10 px-4 sticky top-0 bottom-0 shadow-xl;
        height: 100%;
        width: 370px;
        z-index: 9;
    }
    .left-sidebar {
        @apply pt-10 overflow-y-auto overflow-x-hidden;
    }
    .right-sidebar {
        @apply pt-0 top-20;
    }
    .right-sidebar.right-sidebar-absolute {
        @apply fixed right-0 top-16 bottom-0 p-0 z-10 h-[unset] transition-all overflow-auto;
        transition-duration: 250ms;
    }
    .right-sidebar.right-sidebar-absolute.hide {
        @apply right-[-400px];
    }
    .sidebar-close {
        @apply fixed w-[inherit] h-[inherit];
    }
    .sidebar-close .sidebar-close-icon {
        @apply absolute top-[22px] right-[20px] w-[10px] h-[10px] flex items-center cursor-pointer;
    }
}