@tailwind components;

@layer components {
    .dropdown {
        z-index: 99999;
    }
    .dropdown-arrow {
        z-index: -1;
    }
    .dropdown-arrow::after {
        content: "";
        width: 6px;
        height: 6px;
        transform: rotate(-45deg);
        background: var(--white);
        box-shadow: var(--box-shadow);
        position: absolute;
        z-index: -1;
        top: -3px;
        left: calc(50% - 10px);
    }
    .dropdown-content {
        background: var(--white);
    }
}