@tailwind components;

@layer components {

	/*Boite*/
	.box {
		@apply p-4;
		scrollbar-color: var(--black) transparent;
		scrollbar-width: thin;
	}

	.box h3 {
		@apply text-[18px];
	}

	.box.box-white {
		@apply bg-white text-gray-dark;
	}

	.box.box-primary {
		@apply bg-primary;
	}
	.box.box-default {
		@apply bg-default;
	}
	.box.box-gray {
		@apply bg-gray;
	}

	.box h3 i {
		@apply mr-2;
	}

	.box.row {
		@apply ml-0 mr-0;
	}

	.box.box-padding-0 {
		@apply p-0;
	}

	.box::-webkit-scrollbar {
		@apply w-4;
	}

	.box::-webkit-scrollbar-track {
		@apply bg-transparent;
	}

	.box::-webkit-scrollbar-thumb {
		@apply bg-transparent border-[6px] border-transparent bg-clip-content;
		transition: color .3s ease;
	}

	.box:hover::-webkit-scrollbar-thumb {
		@apply bg-gray-dark;
	}

	.box::-webkit-scrollbar-thumb:hover {
		@apply bg-gray;
	}
}