@tailwind components;

@layer components {
    .breadcrumb {
        @apply z-10 flex;
    }

    .breadcrumb-item {
        @apply relative;
    }

    .breadcrumb-item:not(:last-child)::after {
        content: " ";
    }

    .breadcrumb-item:not(:last-child)::before {
        content: " ";
    }
    .breadcrumb-item:not(:last-child):not(.active):hover:before {
        @apply border-l-white;
    }
    .breadcrumb-item:not(:last-child):not(.active):hover:after {
        @apply border-l-default;
    }

    .breadcrumb-item-rounded {
        @apply rounded-r-full p-[5px] bg-body-background;
    }

    .breadcrumb-item a,
    .breadcrumb-item span {
        @apply text-center py-3 px-5 pl-8 h-full w-full transition-all block;
    }

    .breadcrumb-item:hover a,
    .breadcrumb-item a:active {
        @apply bg-[#D9D9D9];
    }

    .breadcrumb-item i {
        @apply w-3 text-center;
        font-size: 14px;
    }
}